{% extends 'users/base.html' %}
{% load static %} 
{% block page_title %}Dashboard{% endblock %}

{% block title %} callendr {% endblock title%}
{% block content %}

<div class="midde_cont">
    <div class="container-fluid">
       <div class="row column_title">
          <div class="col-md-12">
             <div class="page_title">
                <h2>Profile</h2>
             </div>
          </div>
       </div>
       <!-- row -->
       <div class="row column1">
          <div class="col-md-2"></div>
          <div class="col-md-8">
             <div class="white_shd full margin_bottom_30">
                <div class="full graph_head">
                   <div class="heading1 margin_0">
                      <h2>User profile</h2>
                   </div>
                </div>
                <div class="full price_table padding_infor_info">
                   <div class="row">
                      <!-- user profile section --> 
                      <!-- profile image -->
                      <div class="col-lg-12">
                         <div class="full dis_flex center_text">
                            <div class="profile_img"><img width="180" class="rounded-circle" src="images/layout_img/user_img.jpg" alt="#" /></div>
                            <div class="profile_contant">
                               <div class="contact_inner">
                                  <h3><?php echo $full_name; ?></h3>
                                  <p><strong>Agent code: </strong><?php echo $agent_code; ?></p>
                                  <ul class="list-unstyled">
                                     <li><i class="fa fa-envelope-o"></i> : test@gmail.com</li>
                                     <li><i class="fa fa-phone"></i> : <?php echo $phone_number; ?></li>
                                  </ul>
                               </div>
                               
                            </div>
                         </div>
                         
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-md-2"></div>
        </div>
        
{% endblock content %}