{% extends "users/base.html" %}
{% block title %} Login Page {% endblock title%}
{% block content %}
<div class="form-content my-3 p-3">
    <div class="container">
      <div class="row justify-content-center">
        <!-- Columna para la imagen -->
        <div class="col-lg-6 mg-1">
            <img src="\media\Cummins pic.jpg" alt="Imagen" class="img-fluid" width="600" height="900">
        </div>
        
        <!-- Columna para el formulario -->
        <div class="col-lg-6">
          <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3" >
            <div class="card-header justify-content-center" style="background-color: #BEE9B7">
              <h3 class="font-weight-light my-1 text-center">Login</h3>
            </div>
            {% if form.errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
              <div id="form_errors">
                {% for key, value in form.errors.items %}
                <strong>{{ value }}</strong>
                {% endfor %}
              </div>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endif %}
            <div class="card-body">
              <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label for="username" class="small mb-1">WWID</label>
                  {{ form.username }}
                </div>
                <div class="form-group">
                  <label for="password" class="small mb-1">Password</label>
                  {{ form.password }}
                </div>
                <div class="form-check">
                  {{ form.remember_me }}
                  <label class="form-check-label" for="remember_me"> Remember me</label>
                </div>
                <div class="form-group mt-3">
                  <button type="submit" class="btn btn-block" style="background-color: #BEE9B7" >Sign in</button>
                </div>
              </form>
            </div>
            <div class="card-footer text-center">
              <div class="small">
                <a href="{% url 'users-register' %}">Don't have an account yet? Go to signup</a><br>
                <a href="{% url 'password_reset' %}">Forgot Password?</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
{% endblock content %}